
  <ion-header >
    <ion-toolbar menu="string" color="tertiary">
      <ion-title id="header">Login Form</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <!-- <ion-searchbar showCancelButton="always"></ion-searchbar>
  <ion-item>
    <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon>
    <ion-label>pickUp Date</ion-label>
    <ion-text slot="end">{{formattedString}}</ion-text>

  </ion-item> -->
  <!-- <ion-item>
    <ion-textarea placeholder="Enter more information here..."><ion-datetime hour-cycle="h12" locale="en-GB"></ion-datetime></ion-textarea>
  </ion-item>
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Custom Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-spinner name="crescent" color="tertiary"></ion-spinner>-->
<!-- <ion-card>
  <ion-label class="item item-input item-select">

    <select>
      <option>select color</option>
      <option>Red</option>
      <option>green</option>
      <option>blue</option>
    </select>
  </ion-label>
</ion-card> -->
<!-- <ion-item>
  <ion-label>select color</ion-label>
  <ion-select >
    <ion-select-option >Female</ion-select-option>
    <ion-select-option >Male</ion-select-option>
    <ion-select-option >Male1</ion-select-option>
    <ion-select-option >Male2</ion-select-option>
    <ion-select-option >Male3</ion-select-option>
  </ion-select>
</ion-item> -->


  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="flex-center"></ion-card-subtitle>
        </ion-card-header>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button color="dark" fill="clear" size="full">forget email/Password</ion-button>

    </ion-card>
  </div>
  <div class="button1">
    <ion-button  href="ionicframework.com" expand="undefind" color="tertiary">Login</ion-button>
    <ion-button  href="ionicframework.com" expand="undefind" color="tertiary">Registration</ion-button>
  </div>
</ion-content>
