<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/images/home-banner-map.png">
  <ion-card>
    <ion-card-content>
      <p>Address: Xyz street, house no 111</p>
      <p>zipcode:200002</p>
      <p>city:abcd</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">Create pickup call</ion-button>

</ion-content>
